.pass_cond_list {
    list-style-type: none;
    max-width: 400px;
  }
.pass_cond_list li span {
  font-size: 10px;
}
.otp_box .otp_input_field{
  height: 65px;
  background: none;
  /* border: none; */
  border: 1px solid #a8a8ac73;
  border-radius: 0px;
  width: 12%;
  margin: 0 2.3%;
  text-align: center;
  outline: none;
}

.background_gradient{
background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}